fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pgvector
pydantic
pydantic-settings
passlib
bcrypt==4.0.1
python-jose[cryptography]
python-dotenv
aiofiles
openai
PyPDF2
feedparser
python-multipart
requests
beautifulsoup4
lxml
trafilatura
python-pptx
httpx